  <!--<div class="container">-->
  <!---->
  <!---->
  <!--    <aside class="sidebar">-->
  <!--      <nav>-->
  <!--        <a routerLink="/products" routerLinkActive="active">Productsssss</a>-->
  <!--        <a routerLink="/orders" routerLinkActive="active">Orders</a>-->
  <!--      </nav>-->
  <!--    </aside>-->
  <!--    <main class="content">-->
  <!--      <router-outlet></router-outlet>-->
  <!--    </main>-->
  <!--  </div>-->


<mat-toolbar color="primary" class="header-nav">
  <div class="spacer"></div> <!-- Push buttons to the center -->

  <div class="center-buttons">
    <button routerLink="/products" mat-button>Produtos</button>
    <button routerLink="/orders" mat-button>Pedidos</button>
  </div>
  <div class="spacer"></div> <!-- Balance flex layout -->
</mat-toolbar>

<router-outlet></router-outlet>

